dist/

node_modules/
.yarn
coverage/
__tests__/postgresql/database/init.sql

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/